src/main/webapp/wsdl/IfService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ifService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ifService" xmlns:intf="http://ifService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ifService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getName">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNameResponse">
    <complexType>
     <sequence>
      <element name="getNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getState">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStateResponse">
    <complexType>
     <sequence>
      <element name="getStateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getType">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTypeResponse">
    <complexType>
     <sequence>
      <element name="getTypeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="login">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="selectProduct">
    <complexType>
     <sequence>
      <element name="idProduct" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="selectProductResponse">
    <complexType>
     <sequence>
      <element name="selectProductReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNote">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNoteResponse">
    <complexType>
     <sequence>
      <element name="getNoteReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPrice">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
      <element name="currency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPriceResponse">
    <complexType>
     <sequence>
      <element name="getPriceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUp">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="password" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpResponse">
    <complexType>
     <sequence>
      <element name="signUpReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllProduct">
    <complexType/>
   </element>
   <element name="getAllProductResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllProductReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyProduct">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="idProducts" type="xsd:string"/>
      <element name="price" type="xsd:double"/>
      <element name="idUser" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyProductResponse">
    <complexType>
     <sequence>
      <element name="buyProductReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="balanceValue">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="balanceValueResponse">
    <complexType>
     <sequence>
      <element name="balanceValueReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="signUpRequest">

      <wsdl:part element="impl:signUp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="balanceValueRequest">

      <wsdl:part element="impl:balanceValue" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllProductResponse">

      <wsdl:part element="impl:getAllProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpResponse">

      <wsdl:part element="impl:signUpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyProductResponse">

      <wsdl:part element="impl:buyProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:getName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectProductRequest">

      <wsdl:part element="impl:selectProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="balanceValueResponse">

      <wsdl:part element="impl:balanceValueResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNoteRequest">

      <wsdl:part element="impl:getNote" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPriceRequest">

      <wsdl:part element="impl:getPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTypeResponse">

      <wsdl:part element="impl:getTypeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNoteResponse">

      <wsdl:part element="impl:getNoteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStateRequest">

      <wsdl:part element="impl:getState" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTypeRequest">

      <wsdl:part element="impl:getType" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllProductRequest">

      <wsdl:part element="impl:getAllProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyProductRequest">

      <wsdl:part element="impl:buyProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStateResponse">

      <wsdl:part element="impl:getStateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="selectProductResponse">

      <wsdl:part element="impl:selectProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPriceResponse">

      <wsdl:part element="impl:getPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="IfService">

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getState">

         <wsdl:input message="impl:getStateRequest" name="getStateRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStateResponse" name="getStateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getType">

         <wsdl:input message="impl:getTypeRequest" name="getTypeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTypeResponse" name="getTypeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectProduct">

         <wsdl:input message="impl:selectProductRequest" name="selectProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:selectProductResponse" name="selectProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNote">

         <wsdl:input message="impl:getNoteRequest" name="getNoteRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNoteResponse" name="getNoteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdl:input message="impl:getPriceRequest" name="getPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPriceResponse" name="getPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdl:input message="impl:signUpRequest" name="signUpRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpResponse" name="signUpResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllProduct">

         <wsdl:input message="impl:getAllProductRequest" name="getAllProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllProductResponse" name="getAllProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buyProduct">

         <wsdl:input message="impl:buyProductRequest" name="buyProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:buyProductResponse" name="buyProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="balanceValue">

         <wsdl:input message="impl:balanceValueRequest" name="balanceValueRequest">

       </wsdl:input>

         <wsdl:output message="impl:balanceValueResponse" name="balanceValueResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IfServiceSoapBinding" type="impl:IfService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getState">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTypeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTypeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="selectProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNoteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNoteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buyProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buyProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buyProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="balanceValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="balanceValueRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="balanceValueResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IfServiceService">

      <wsdl:port binding="impl:IfServiceSoapBinding" name="IfService">

         <wsdlsoap:address location="http://localhost:8080/IfServiceServer/services/IfService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
